Repository hxk1633/Microservices-Project: changes, and which Jenkins stages are due for each by the changed paths.
All: Microservice detect change, Microservice Build and upload Docker image, Microservice task, Monolithic detect changes, build ,and push images, Monolithic task

Jenkinsfile:

def obtainChanges(){
    result = ''
    def changeLogSets = currentBuild.changeSets
    for (int i = 0; i < changeLogSets.size(); i++) {
        def entries = changeLogSets[i].items
        for (int j = 0; j < entries.length; j++) {
            def entry = entries[j]
            echo "${entry.commitId} by ${entry.author} on ${new Date(entry.timestamp)}: ${entry.msg}"
            def files = new ArrayList(entry.affectedFiles)
            for (int k = 0; k < files.size(); k++) {
                def file = files[k]
                if(file.editType.name != "delete" && file.path.startsWith('microservices/services/')){
                    result = "${result}${file.path},"
                }
            }
        }
    }
    def tempResult = '';
    def folders = '';
    def arr = result.split(',')
    for (int j = 0; j < arr.length; j++) {
        def folderDirectory = arr[j].split('/')
        tempResult = "${tempResult}${folderDirectory[folderDirectory.length-2]} "
    }
    def resultS = tempResult.tokenize(' ')
    resultS = resultS.unique()
    for(int i = 0; i < resultS.size(); i++){
        folders="${folders}${resultS[i]},"
    }
    echo folders
    env.folders =  "${folders}"
}

pipeline{
    
    agent any
    
    
    environment{
        dockerImage = ''
        directory = './microservices/services/'
        registry = 'jh7939/microservices:'
        registry_mono = 'jh7939/monolithic:monolithic-app'
        registryCredential = 'dockerhub_id'
    }
    
    stages{
        stage('Checkout'){
            steps{
                checkout([$class: 'GitSCM', branches: [[name: '*/master']], extensions: [], userRemoteConfigs: [[url: 'https://github.com/hxk1633/Microservices-Project']]])
            }
        }
        stage('Microservice detect change'){
            when{
                changeset "microservices/*"
            }
            steps{
                obtainChanges()
            }
        }
        stage('Microservice Build and upload Docker image'){
            when{
                changeset "microservices/*"
            }
            steps{
                script{
                    def arr = env.folders.split(',')
                    for(int i = 0; i <arr.length; i++){
                        dir("${directory}${arr[i]}"){
                            echo arr[i]
                            dockerName = "${registry}${arr[i]}_microservice"
                            dockerImage = docker.build dockerName
                            docker.withRegistry('', registryCredential){
                                dockerImage.push()
                            }
                        }
                    }
                }
            }
        }
        stage('Microservice task'){
            when{
                changeset "microservices/*"
            }
            steps{
                script{
                    def folderNames = env.folders.split(',')
                    dir("./microservices"){
                        for(int i = 0; i < folderNames.length; i++){
                            sh "bash sshlogin.sh ${folderNames[i]}"
                        }
                    }
                }
            }
        }
        stage('Monolithic detect changes, build ,and push images'){
            when{
                changeset "monolithic-app/*"
            }
            steps{
                script{
                    dir("monolithic-app"){
                        dockerImage = docker.build registry_mono
                        docker.withRegistry('', registryCredential){
                                    dockerImage.push()
                        }
                    }
                }
            }
        }
        stage('Monolithic task'){
            when{
                changeset "monolithic-app/*"
            }
            steps{
                dir("monolithic-app"){
                    sh "bash sshlogin.sh"
                }
            }
        }
    }
}

1
  Jenkinsfile
  microservices/services/posts/db.json
  monolithic-app/db.json
  monolithic-app/sshlogin.sh
Due: Monolithic detect changes, build ,and push images, Monolithic task

1
  microservices/services/comments/db.json
  microservices/services/newservice/db.json
  microservices/services/posts/db.json
  microservices/services/threads/db.json
  microservices/services/users/db.json
  monolithic-app/sshlogin.sh
Due: Monolithic detect changes, build ,and push images, Monolithic task

1
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  microservices/services/comments/db.json
  microservices/services/newservice/db.json
  microservices/services/posts/db.json
  microservices/services/threads/db.json
  microservices/services/users/db.json
Due: none

1
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  monolithic-app/db.json
Due: Monolithic detect changes, build ,and push images, Monolithic task

1
  Jenkinsfile
  microservices/services/posts/db.json
  microservices/services/threads/db.json
  microservices/sshlogin.sh
  microservices/test.sh
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

1
  Jenkinsfile
  microservices/services/posts/db.json
  microservices/services/threads/db.json
Due: none

1
  microservices/services/posts/db.json
  microservices/services/threads/db.json
  microservices/sshlogin.sh
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

1
  microservices/services/posts/db.json
  microservices/services/threads/db.json
  microservices/sshlogin.sh
  microservices/test.sh
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

1
  microservices/services/posts/db.json
  microservices/services/threads/db.json
  microservices/test.sh
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

1
  Jenkinsfile
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  microservices/services/comments/db.json
  microservices/services/newservice/db.json
  microservices/services/posts/db.json
  microservices/services/threads/db.json
  microservices/services/users/db.json
Due: none

1
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  microservices/helper.sh
  microservices/list.txt
  microservices/services/newservice/db.json
  microservices/services/users/db.json
  microservices/sshlogin.sh
  microservices/test.sh
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

1
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
Due: none

1
  microservices/services/newservice/db.json
  microservices/services/posts/db.json
Due: none

1
  Jenkinsfile
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  microservices/services/posts/db.json
  microservices/services/threads/db.json
  microservices/sshlogin.sh
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

1
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  microservices/services/posts/db.json
Due: none

1
  Jenkinsfile
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  microservices/sshlogin.sh
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

1
  microservices/services/users/db.json
Due: none

1
  Jenkinsfile
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  microservices/services/newservice/db.json
Due: none

1
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  microservices/services/newservice/db.json
Due: none

1
  microservices/haproxy/haproxy.cfg
  microservices/haproxy/haproxy.cfg.lkg
  microservices/helper.sh
  microservices/services/newservice/db.json
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

Update Jenkinsfile
  Jenkinsfile
Due: none

1
  Jenkinsfile
  microservices/services/comments/db.json
  microservices/services/newservice/db.json
Due: none

1
  Jenkinsfile
  microservices/services/newservice/db.json
  microservices/services/posts/db.json
Due: none

1
  Jenkinsfile
  microservices/services/comments/bcd.txt
  microservices/services/newservice/abc.txt
Due: none

1
  Jenkinsfile
  microservices/services/newservice/kkk.txt
  microservices/services/newservice/yy.txt
Due: none

1
  Jenkinsfile
  microservices/services/comments/bcd.txt
  microservices/services/comments/ddd.txt
  microservices/services/newservice/abc.txt
  microservices/services/newservice/eee.txt
  microservices/services/newservice/kkk.txt
  microservices/services/newservice/yy.txt
Due: none

1
  Jenkinsfile
  microservices/services/comments/ddd.txt
  microservices/services/comments/ggg.txt
  microservices/services/newservice/eee.txt
  microservices/services/newservice/zzz.txt
Due: none

1
  Jenkinsfile
  microservices/services/comments/ggg.txt
  microservices/services/newservice/ooo.txt
Due: none

1
  Jenkinsfile
  microservices/helper.sh
  microservices/services/posts/db.json
  microservices/sshlogin.sh
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

m
  Jenkinsfile
  microservices/helper.sh
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task

1
  microservices/services/posts/db.json
Due: none

1
  Jenkinsfile
  microservices/helper.sh
  microservices/services/comments/ggg.txt
  microservices/services/newservice/aaa.txt
Due: Microservice detect change, Microservice Build and upload Docker image, Microservice task
